:root
{
	--dark: #2c3e50;
	--light: #ecf0f1;
	--text-light: #f1f2f6;
	--text-blue: #48dbfb;
	--text-red: #e74c3c;
	--text-green: #2ecc71;
	--hover: #2ecc71;
}
html
{
	height: 100%;
	box-sizing: border-box;
}
*, *:before,*:after {
  box-sizing: inherit;
}
body
{
	background-color: var(--light);	
	position: relative;
	min-height: 100%;
	margin: 0;
	padding-bottom: 125px;
}
@font-face 
{
    font-family: techno;
    src: url(fonts/techno.ttf);
}

.footer
{
	/*margin-top: auto;*/
	background-color: var(--dark);
	color: var(--text-light);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
	text-align: center;
	/*padding: 10px;*/
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	left:0;
	right: 0;
}
.header
{
	background-color: var(--dark);
	color: var(--text-light);
	text-align: center;
	padding: 15px 0 10px 0;
}
.title-name
{
	font-family: techno;
	letter-spacing: 4px;
	font-size: 1.8em;
	text-align: center;
	padding-bottom: 10px;
}
.tag-line
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.9em;
}
.flex-container
{
	margin: 0 8%;
	overflow-y: auto;
	padding: 10px 0;
	/*box-sizing: border-box;*/
}
.link
{
	text-decoration: none;
	color: var(--text-light);
	padding: 5px;
	border: var(--text-light) solid 1px;
}
.link:hover
{
	background-color: var(--text-light);
	color: var(--dark);
}
.logos
{
	height: 30px;
	width: 30px;
}

.logos
{
	background-color: white;
	border-radius: 32px;
	margin: 2px 6px;
}
.logos-container
{
	/*width: 200px;*/
	margin-left: 20px;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	/*float: left;*/
}
.developed-by
{
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 1.08em;
	padding: 5px 0 10px 0;
	padding-top: 25px;
	/*float: left;*/
	margin-right: 0;
	display: inline-block;
	/*margin-left: 30%;*/
}
.first-footer
{
	text-align: center;
}
.footer-tag
{
	clear: left;
}
.social-icons
{
	color: var(--dark);
}
.menu
{
	background-color: var(--dark);
	color: var(--text-light);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-top: solid var(--light) 1px;
}
.menu ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu ul li
{
	padding: 10px 0px;
	width: 15%;
	text-align: center;
	display: inline-block;
	margin: 0px;
	cursor: pointer;
}
.menu ul li:hover
{
	background-color: var(--hover);
	color: var(--dark);
}